@{
        ViewData["Title"] = "Thêm Trương Chình Đào Tạo";
    }
    <h1>@ViewData["Title"]</h1>
    <div>
        <form action="#" method="POST" class="row g-3">
            <div class="mb-3">
                <label class="form-label">Mã Chương Trình Đào Tạo</label>
                <input type="text" class="form-control" name="idChuongTrinh" placeholder="Nhập Vào Mã Chương Trình Đào Tạo">
            </div>

            <div class="mb-3">
                <label class="form-label">Tên Chương Trình Đào Tạo</label>
                <input type="text" class="form-control" name="tenChuongTrinh" placeholder="Nhậo Vào Tên Chương Trình Đào Tạo">
            </div>

             <div class="mb-3">
                <label class="form-label">Số Tín Chỉ</label>
                <input type="number" class="form-control" name="SoTinhChi" placeholder="Nhập vào Số Tín Chỉ">
            </div>
            <div class="mb-3">
                <label class="form-label">Năm Bắt Đầu Họcc</label>
                <input type="number" class="form-control" name="namBatDauHoc" placeholder="Nhập vào Năm Bắt Đầu Học">
            </div>
            <button type="submit">submit</button>
        </form>
    </div>