@{
    ViewData["Title"] = "Sửa Chương Trình Đào Tạo";
}
<h1>@ViewData["Title"]</h1>
<div>
    @{

        ChuongTrinhDaoTaoModel ct = Model;

        <form action="UpdateChuongTrinh" method="POST" class="row g-3">
            <div class="mb-3">
                <label class="form-label">Mã Chương Trình Đào Tạo</label>
                <input readonly type="text" class="form-control" value="@(ct.idChuongTrinhDaoTao)" name="idChuongTrinhDaoTao" placeholder="Nhập Vào Mã Chương Trình Đào Tạo">
            </div>

            <div class="mb-3">
                <label class="form-label">Tên Chương Trình Đào Tạo</label>
                <input type="text" class="form-control" value="@(ct.tenChuongTrinhDaoTao)" name="tenChuongTrinhDaoTao" placeholder="Nhậo Vào Tên Chương Trình Đào Tạo">
            </div>

            <div class="mb-3">
                <label class="form-label">Số Tín Chỉ</label>
                <input type="number" class="form-control" value=@ct.soTinChi name="soTinChi" placeholder="Nhập vào Số Tín Chỉ">
            </div>
            <div class="mb-3">
                <label class="form-label">Năm Bắt Đầu Học</label>
                <input type="number" class="form-control" value=@ct.namBatDauDaoTao name="namBatDauDaoTao" placeholder="Nhập vào Năm Bắt Đầu Học">
            </div>
            <button type="submit">submit</button>
        </form>
    }

</div>